@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme {
  /* gray color custom */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  /* red color custom */
  --color-red-50: #fdf2f2;
  --color-red-100: #fde8e8;
  --color-red-200: #fbd5d5;
  --color-red-300: #f8b4b4;
  --color-red-400: #f98080;
  --color-red-500: #f05252;
  --color-red-600: #e02424;
  --color-red-700: #c81e1e;
  --color-red-800: #9b1c1c;
  --color-red-900: #771d1d;

  /* green color custom */
  --color-green-50: #f3faf7;
  --color-green-100: #def7ec;
  --color-green-200: #bcf0da;
  --color-green-300: #84e1bc;
  --color-green-400: #31c48d;
  --color-green-500: #0e9f6e;
  --color-green-600: #057a55;
  --color-green-700: #046c4e;
  --color-green-800: #03543f;
  --color-green-900: #014737;

  /* blue color custom */
  --color-blue-50: #ebf5ff;
  --color-blue-100: #e1effe;
  --color-blue-200: #c3ddfd;
  --color-blue-300: #a4cafe;
  --color-blue-400: #76a9fa;
  --color-blue-500: #3f83f8;
  --color-blue-600: #1c64f2;
  --color-blue-700: #1a56db;
  --color-blue-800: #1e429f;
  --color-blue-900: #233876;
  /* ... */
}
